In [89]:
import pandas as pd
import numpy as np

In [21]:
NOFLAG_Africa = pd.read_csv('https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding="latin-1")

In [22]:
NOFLAG_Africa

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [25]:
NOFLAG_Africa.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [28]:
NOFLAG_2014 = NOFLAG_Africa[NOFLAG_Africa['Y2014'] == 2014]

In [40]:
missing_values = NOFLAG_2014.isnull().sum()

In [33]:
all_entries = NOFLAG_2014.shape[0] * NOFLAG_2014.shape[1]

In [47]:
unique_countries = NOFLAG_Africa['Area'].nunique()
print(unique_countries)

49

In [67]:
protein_supply = ((NOFLAG_Africa['Area'] == 'Madagascar') & (NOFLAG_Africa['Y2015'] == 2015) & (NOFLAG_Africa['Element'] == 'Protein supply quantity (g/capita/day)')).sum()

print(protein_supply)

0

In [50]:
array = np.array([[94, 89, 63],
                  [93, 92, 48],
                  [92, 94, 56]])

selected_elements = array[[0, 1, 1, 2], [0, 1, 1, 2]]

print(selected_elements)

[94 92 92 56]

In [63]:
selected_columns = NOFLAG_Africa[['Y2017', 'Area']]
grouped = selected_columns.groupby('Area')['Y2017'].sum()
grouped_highest_sum = grouped.idxmax()
highest_sum = grouped.max()

print(grouped_highest_sum)
print(highest_sum)

Nigeria
1483268.23

In [70]:
grouped = NOFLAG_Africa[NOFLAG_Africa['Element'] == 'Stock Variation'][['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()
year_highest_stock_variation = grouped.idxmax()
highest_stock_variation = grouped.max()

print(year_highest_stock_variation)
print(highest_stock_variation)

Y2014
58749.83

In [79]:
grouped = NOFLAG_Africa[NOFLAG_Africa['Element'] == 'Processing'].groupby('Element')['Y2017'].sum()
processing_sum_2017 = grouped.get('Processing', 0)

print(processing_sum_2017)

292836.0

In [85]:
wine_production = NOFLAG_Africa[(NOFLAG_Africa['Y2015'] == 2015) | (NOFLAG_Africa['Y2018'] == 2018)]
wine_production = wine_production.groupby('Item')[''].sum()

wine_2015_sum = wine_production.get('Wine', 0)
wine_2018_sum = wine_production.get('Wine', 0)

print(wine_2015_sum)
print(wine_2018_sum)

0
0

In [73]:
selected_columns = NOFLAG_Africa[['Y2017', 'Area']]
grouped = selected_columns.groupby('Area')['Y2017'].sum()

sorted_areas = grouped.sort_values(ascending=True)
seventh_lowest_area = sorted_areas.iloc[6]

print(seventh_lowest_area)

19102.77

In [88]:
Year_2017 = ['Y2017']
mean_2017 = NOFLAG_Africa[Year_2017].mean().round(2)
std_dev_2017 = NOFLAG_Africa[Year_2017].std().round(2)

print(f"Mean for the year 2017: {mean_2017.values[0]}")
print(f"Standard Deviation for the year 2017: {std_dev_2017.values[0]}")

Mean for the year 2017: 140.92
Standard Deviation for the year 2017: 1671.86